body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 100px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: lightgrey;
}

.view-switch-container {
  display: flex;
  justify-content: space-between;
}
